@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  margin: 0 0 -5px 0;
  padding: 0;
  z-index: 2;
}

.page-header-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation {
  max-width: 390px;
  margin-left: auto;
}

.item-link {
  position: relative;
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.item-link:hover {
  color: #756257;
}

.item-link:hover .navigation-icon {
  fill: #756257;
}

.item-link.button:hover {
  background-color: #615048;
}

.item-link:focus {
  border: 0;
  border-radius: 10px;
  outline: 3px solid #83B3D3;
  color: #756257;
}

.user-navigation .item-link:focus {
  fill: #756257;
  border: 0;
  border-radius: 7px;
  outline: 3px solid #83B3D3;
}


.item-link.button:focus {
  border: 3px solid #83B3D3;
  ;
  border-radius: 8px;
  outline: 0;
  background-color: #615048;
}

.item-link:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.item-link.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  opacity: 1;
  border: none;
}

.item-link-current::after {
  position: absolute;
  right: 10px;
  bottom: -15px;
  left: 10px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.main-navigation .item-link {
  padding: 6px 12px;
  margin: 13px 4px 19px 5px;
}

.main-navigation .list-item:first-of-type {
  margin-left: 55px;
}

.user-navigation .item-link {
  position: relative;
  min-width: 31px;
  min-height: 30px;
  padding: 0;
  margin: 8px 5px 12px 5px;
}

.user-navigation .list-item:first-of-type {
  margin-left: 55px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon-favorites {
  position: relative;
}

.navigation-icon-favorites::before {
  position: absolute;
  width: 19px;
  height: 19px;
  bottom: 25px;
  left: 23px;
  font-size: 10px;
  line-height: 13px;
  padding: 3px 4px;
  border-radius: 50%;
  color: #FFFFFF;
  letter-spacing: -0.1em;
  background-color: #7DB550;
  content: "12";
  z-index: 2;
}

.item-link.button {
  width: 160px;
  padding: 8px 0 9px 0;
  margin-left: 21px;
  font-size: 16px;
  color: #FFFFFF;
}

.logo {
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  text-decoration: none;
}

.logo-img {
  display: block;
}

.main-container {
  flex-grow: 1;
}

.promo {
  margin-bottom: 63px;
  padding: 51px 371px 82px 371px;
  background-image: url("../img/promo-divider.svg"), url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 429px, center;
  background-color: #83B3D3;
  background-size: 100% auto;
}

.promo-image {
  display: block;
  text-align: center;
}

.advantages {
  margin-bottom: 90px;
}

.advantages-header {
  margin-top: 0;
  margin-bottom: 80px;
  line-height: 36px;
  text-align: center;
}

.advantages-header-litle {
  width: 720px;
  margin: 0 auto 30px auto;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
}

.advantages-list,
.city-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item-container {
  display: flex;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-container h3 {
  color: #FFFFFF;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 98px 90px 77px 90px;
}

.advantages-item-blue,
.city-advantages-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.city-advantages {
  display: flex;
}

.advantages-item-blue {
  padding: 98px 80px 108px 80px;
}

.advantages-item-blue .advantages-title {
  padding: 0 30px;
}

.city-advantages-item,
.advantages-item-blue {
  width: 400px;
}

.city-advantages-item {
  padding: 184px 75px 89px 75px;
}

.advantages-title,
.city-advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.advantages-decoration {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.advantages-item:nth-of-type(1) .advantages-decoration::before,
.advantages-item:nth-of-type(2) .advantages-decoration::before {
  position: absolute;
  content: '—';
  left: 77px;
}

.advantages-item:nth-of-type(1) .advantages-decoration::after,
.advantages-item:nth-of-type(2) .advantages-decoration::after {
  position: absolute;
  content: '—';
  right: 78px;
}

.advantages-decoration::before {
  position: absolute;
  content: '—';
  left: 88px;
}

.advantages-decoration::after {
  position: absolute;
  content: '—';
  right: 88px;
}

.advantages-text {
  margin: 0;
  padding: 0;
}

.advantages-img {
  display: block;
}

.city-advantages-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.city-advantages-item:nth-of-type(1) .city-advantages-title::before {
  position: absolute;
  content: '';
  background-image: url("../img/icons/housing.svg");
  background-repeat: no-repeat;
  top: -93px;
  right: 0;
  bottom: 0;
  left: 89px;
}

.city-advantages-item:nth-of-type(2) .city-advantages-title::before {
  position: absolute;
  content: '';
  background-image: url("../img/icons/eating.svg");
  background-repeat: no-repeat;
  top: -93px;
  right: 0;
  bottom: 0;
  left: 89px;
}

.city-advantages-item:nth-of-type(3) .city-advantages-title::before {
  position: absolute;
  content: '';
  background-image: url("../img/icons/souvenir.svg");
  background-repeat: no-repeat;
  top: -99px;
  right: 0;
  bottom: 0;
  left: 93px;
}

.city-advantages-text {
  margin: 0;
  padding: 0;
}

.city-advantages-item:first-of-type .city-advantages-text {
  padding: 0 35px;
}

.advantages-decoration,
.advantages-text,
.city-advantages-text {
  line-height: 21px;
}

.advantages-item-wrapper.reverse {
  order: 2;
}

.search {
  text-align: center;
}

.search-headding {
  width: 720px;
  margin: 0 auto 29px auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  width: 720px;
  margin: 0 auto 58px auto;
  font-size: 22px;
  text-align: center;
}

.search-button {
  width: 575px;
  margin-top: 0;
  margin-bottom: 91px;
  padding: 12px 0 12px 0;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  border: 0;
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  opacity: 1;
  outline: none;
}

.subscription {
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/subscription-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  border-bottom: 1px solid #E6E6E6;
}

.subscription-title {
  width: 720px;
  margin: 0 auto 30px auto;
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0 340px;
  font-size: 22px;
}

.subscription-form {
  padding-bottom: 94px;
}

.subscription-wrapper {
  display: flex;
  justify-content: center;
}

.subscription-email {
  margin: 0;
}

.subscription-field {
  width: 600px;
  padding: 22px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscription-button {
  width: 200px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  border: 0;
  border-radius: 0 10px 10px 0;
  outline: 3px solid #756257;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  opacity: 1;
  outline: none;
}

.page-footer-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 200px;
  margin-right: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  min-width: 40px;
  min-height: 40px;
}

.footer-social-icon {
  fill: #83B3D3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus {
  border: 0;
  border-radius: 10px;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.footer-social-link:active {
  fill: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.footer-phone-wrapper {
  width: 720px;
  margin: 24px 0;
}

.footer-phone {
  display: block;
  width: 361px;
  margin: 0 auto;
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  border: 0;
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.footer-phone:active {
  opacity: 0.3;
  outline: none;
}

.about-text {
  max-width: 200px;
  margin-left: 30px;
}

.htmlacademy-link {
  display: block;
  position: relative;
  width: 160px;
  height: 60px;
}

.htmlacademy-link:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  fill: #756257;
  border: 0;
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.htmlacademy-link:active {
  opacity: 0.3;
  outline: none;
}

.htmlacademy-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*Разметка страницы каталога */

.filters-container {
  margin-bottom: 44px;
  color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.inner-header-title {
  margin: 0;
  padding: 30px 71px 0px 71px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0 71px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-link {
  min-width: 12px;
  min-height: 12px;
  padding: 3px 8px;
  font-size: 16px;
}

.catalog-filters-container {
  display: flex;
  padding: 40px 71px 80px 71px;
}

.filters-infrastructure {
  margin: 0 67px 0 0;
}

.filters-accommodation {
  margin: 0 165px 0 0;
}

.catalog-filter-group {
  min-width: 150px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter {
  line-height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
}

.catalog-filter-item {
  list-style: none;
}

.control-label {
  display: block;
  margin-bottom: 13px;
}

.catalog-filter-item:last-of-type .control-label {
  margin-bottom: 0;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-button {
  width: 160px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 13px 0;
  background-color: #83B3D3;
}

.reset-button {
  width: 160px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: initial;
  text-transform: none;
}

.results-header {
  margin-top: 0;
  margin-bottom: 42px;
  padding: 0 71px;
}

.results-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.results-text {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-type {
  width: 287px;
  margin: 0 auto;
}

.select-control {
  padding: 12px 90px 13px 19px;
  font-size: 18px;
  line-height: 23px;
}

.view-type {
  width: 48px;
  height: 48px;
}

.hotels-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 181px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 72px 0 72px;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 37px 160px 160px auto;
  grid-template-rows: 28px min-content min-content min-content 31px;
  line-height: 23px;
}

.hotel-card-image-link {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title-link {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.hotel-card-price {
  margin-bottom: 31px;
  padding: 0;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.hotel-card-button {
  width: 151px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  padding: 8px;
}


.hotel-favorites-button {
  width: 160px;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  background-color: #83B3D3;
}

.hotel-rating {
  grid-column: 5 / 6;
  grid-row: 2 / 4;
}

.hotel-rating-text {
  width: 160px;
  padding: 7px;
  margin: 0;
  justify-self: end;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.favorites-button {
  background-color: #7DB54F;
}

.hotel-show-more {
  width: 625px;
  height: 55px;
  margin: 0 288px 30px 288px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
}

.pagination-container {
  display: flex;
  align-items: center;
  padding-top: 31px;
  margin-bottom: 89px;
}

.pagination {
  display: flex;
  margin: 0 0 0 71px;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-form {
  margin-left: 300px;
}

.pagination-form-title {
  margin-right: 51px;
  line-height: 23px;
}

.pagination-form-select {
  width: 160px;
  height: 48px;
}

.subscription-catalog {
  text-align: center;
}

.subscription-catalog-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-text {
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0 340px;
  font-size: 22px;
}

.subscription-catalog-form {
  margin-bottom: 137px;
}

.subscription-catalog-wrapper {
  display: flex;
  justify-content: center;
}

.subscription-catalog-email {
  margin: 0;
}

.subscription-catalog-field {
  width: 600px;
  padding: 22px;
  background-color: #F2F2F2;
  border: none;
}

.subscription-catalog-button {
  width: 200px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
}