@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-header-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.user-navigation {
  max-width: 350px;
  margin-left: auto;
}

.item-link {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.item-link.button {
  font-size: 16px;
  color: #FFFFFF;
}

.logo {
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.promo {
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-color: #83B3D3;
  background-size: 100% auto;
}

.promo-image {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  line-height: 36px;
  text-align: center;
}

.advantages-header-litle {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-header-text {
  font-size: 22px;
}

.advantages-list,
.city-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item-container {
  display: flex;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-container h3 {
  color: #FFFFFF;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-item-blue,
.city-advantages-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.city-advantages {
  display: flex;
}

.city-advantages-item {
  width: 400px;
}

.advantages-item-blue {
  width: 400px;
}

.advantages-title,
.city-advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-decoration,
.advantages-text,
.city-advantages-text {
  line-height: 21px;
}

.search {
  text-align: center;
}

.search-headding {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/subscription-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
}

.subscription-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 180px;
  margin-right: 60px;
}

.footer-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.about-text {
  max-width: 200px;
  margin-left: auto;
}

/*Разметка страницы каталога */

.filters-container {
  color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.catalog-filters-container {
  display: flex;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter {
  line-height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-button {
  background-color: #83B3D3;
}

.reset-button {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: initial;
  border: none;
}

.results-container {
  display: flex;
}

.results-text {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card {
  line-height: 23px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-favorites-button {
  background-color: #83B3D3;
  border: none;
}

.hotel-rating-text {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #F2F2F2;
}

.hotel-favorites-button-current {
  background-color: #7DB54F;
  border: none;
}

.hotel-show-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-form-title {
  line-height: 23px;
}

.subscription-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog-text {
  font-size: 22px;
}

.subscription-catalog-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border: none;
}